<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">

	<insert id="insert">
	
		insert into member(memno, id, pw, name, email)
		values(seq_member.nextval, #{id}, #{pw}, #{name}, #{email})
		
	</insert>
	
	<select id="selectLogin" resultType="string">
		
		select pw from member where id = #{id}
		
	</select>
	
	<select id="selectIdCheck" resultType="int">
		
		select count(*) from member where id = #{id}
			
	</select>

</mapper>